.home-bg{
  background-image: url("./assets/bg-8.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100% !important;
}

.login-bg{
  background-image: url("./assets/login-bg.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.register-bg{
  background-image: url("./assets/register-bg.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.admin-bg{
  background-image: url("./assets/bg-2.jpeg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.admin-bg1{
  background-image: url("./assets/bg-10.jpg");
  background-position: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.account-bg{
  background-image: url("./assets/bg-7.jpg");
  background-position: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.cart-bg{
  background-image: url("./assets/cart-bg1.jpg");
  background-position: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

hr{
  color: red !important;
}

.add-product-form label{
  color: darkslateblue !important;
}


.sidebar{
  height: 90vh !important;
  width: 22rem !important;
  transition: all 0.3s ease-in-out !important;
}

.close-sidebar{
  width: 5rem !important;
  transition: all 0.3s ease-in-out !important;
}

.disable{
  display: none !important ;
}

.active{
  display : block !important
}

.admin-sidebar a:active{
  background-color: #e95420 !important;
  color: white !important;
}

.admin-sidebar a:hover{
    background-color: #e95420 !important;
    color: white !important;
}