.login-bg{
  background-image: url("./assets/login-bg.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.register-bg{
  background-image: url("./assets/register-bg.jpg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.admin-bg{
  background-image: url("./assets/bg-2.jpeg");
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

.admin-bg1{
  background-image: url("./assets/bg-10.jpg");
  background-position: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 100vh !important;
}

hr{
  color: red !important;
}